//Mark - Variable
$primary-dark: #485056;
$primary-bg: #1b2335;
$border-color: #293244;
$border-color-hover: #2f3a50;
$text-color: #c5c8cc;
$text-secondary: #767a86;
$primary-blue: #0a80ff;
$primary-blue-hover: #1871d1;
$info: rgb(40, 167, 69);
$warning: #ffc007;
$selected: #20283a;

// MARK - list people

.people-container {
  // background-color: $border-color;
}
.people:hover,
.people.selected {
  background-color: $selected;
}
.people {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;

  &-img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $primary-dark;
    margin-right: 10px;
  }

  &-detail {
    flex: 1;
    width: calc(100% - 40px - 70px);
    .people-detail-name {
      margin: 0;
      padding: 0;
      font-weight: 600;
      color: $text-color;
    }
    .people-detail-chat {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 13px;
      color: $text-secondary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-chat-time {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    .custom-badge {
      background-color: $primary-blue;
      color: $text-color;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0;
      line-height: 20px;
      text-align: center;
    }
    .chat-time {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 10px;
      color: $text-secondary;
      width: 100%;
      margin-top: 5px;
    }
  }
}

// MARK - message
.messages {
  // background-color: $text-color;
  flex: 1;
  padding: 10px 26px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.messages-container{
  flex: 1;
  padding: 10px 26px;
  display: flex;
  flex-direction: column;
}

.container-chat-message {
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  .message {
    max-width: 80%;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    // margin-left: -50px;
    &-content {
      margin: 0;
      padding: 0;
      color: $text-color;
      font-weight: 600;
    }
    &-time {
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: $text-color;
      font-weight: 500;
      margin-top: 5px;
      text-align: right;
    }

    .extra{
      margin: 5px 0;
      border-radius: 5px;
      display: flex;
      padding: 5px;
      .with-image{
        margin-right: 10px;
        .img-product{
          width: 50px;
          height: 50px;
          overflow: hidden;
          background-color: $primary-dark;
          border-radius: 5px;
        }
      }
      .only-text{
        .your-name{
          margin: 0;
          padding: 0;
          font-weight: 500;
          font-size: 14px;
          color: $text-color;
        }
        p.content{
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: 12px;
          color: $text-color;
        }
      }
    }
  }



  .message.me {
    background-color: $primary-blue;
    position: relative;
    z-index: 10;

    .message-content{
      color: #fff;
    }

   .extra{
     background-color: rgba($color: $primary-bg, $alpha: .37);
     .your-name{
       color: #fff;
     }
   }
  }

  .message.me:hover{
    background-color: $primary-blue-hover;
  }

  .message.me:hover + custom-btn-reply{
    opacity: 1;
  }
  
  .message.other {
    background: $border-color;
    position: relative;

    .extra{
      background-color: rgba($color: $text-color , $alpha: .2);
      .your-name{
        color: $warning;
      }
    }
  }

  .message.message.other:hover{
    background-color: $border-color-hover;
  }

  
  .message.boot {
    background: $primary-bg;
    text-align: center;
    .message-content {
      font-size: 14px;
    }
    .message-time {
      display: none;
    }
    .extra{
      display: none;
    }
  }


  .action-button-messages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;

    .custom-btn-reply{
      opacity: .5;
      transition: .3s;
      transform: scale(0);
      color: $text-color;
      cursor: pointer;
    }

      .custom-btn-reply:hover{
        opacity: 1;
        transform: rotate(0deg);
    }
  }
}
    .action-button-messages:hover > .custom-btn-reply{
      opacity: 1;
      transform: scale(1);
    }


.message.other:hover + .action-button-messages .custom-btn-reply{
  opacity: 1;
  transform: scale(1);
}

.message.me:hover + .action-button-messages .custom-btn-reply{
  opacity: 1;
  transform: scale(1);
}

.container-chat-message.me {
  justify-content: end;
  flex-direction: row-reverse;
}

.container-chat-message.target{
  .message{
    animation: goyang 0.5s linear infinite;
  }
}

.container-chat-message.other {
  justify-content: start;
}

.container-chat-message.boot {
  justify-content: center;

  .action-button-messages{
    display: none;
  }
}



.message.me::before {
  content: ' ';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 6px solid $primary-blue;
  border-right: 6px solid transparent;
  border-top: 6px solid $primary-blue;
  border-bottom: 10px solid transparent;
  right: -7px;
  top: 0;
}

.message.message.me:hover::before{
  border-left-color: $primary-blue-hover;
  border-top-color: $primary-blue-hover;
}

.message.other::before {
  content: ' ';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid $border-color;
  border-top: 6px solid $border-color;
  border-bottom: 10px solid transparent;
  left: -7px;
  top: 0px;
}

.message.message.other:hover::before{
  border-right-color: $border-color-hover;
  border-top-color: $border-color-hover;
}

// MARK - Loading css
.loader {
  border: 2px solid $border-color;
  border-top: 2px solid $primary-blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// key

@keyframes goyang {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}