//Mark - Variable
$primary-dark: #485056;
$primary-bg: #1b2335;
$border-color: #293244;
$text-color: #c5c8cc;
$primary-blue: #0a80ff;
$info: rgb(40, 167, 69);
$warning: #ffc007;

.main-content {
  height: 100%;
  width: 100%;
}
